@model ManageOnline.Models.RateModel

@using (Html.BeginForm("RateUser", "Rate", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="modal fade" id="addRateModal_@Model.UserWhoGetRate.UserId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Ocena wystawiona użytkownikowi <text class="text-info">@Model.UserWhoGetRate.Username</text></b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(x => x.Project.ProjectId)
                    @Html.HiddenFor(x => x.UserWhoGetRate.UserId)
                    @Html.HiddenFor(x => x.UserWhoGetRate.Role)
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <h4><b>Komentarz</b></h4>
                            <div class="col-12">
                                @Model.Comment
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-6">
                                    <h5><b>Komunikacja</b></h5>
                                    <input name="Communication" data-role="rating" data-star-color="cyan" data-stared-color="cyan" data-static="true" data-value="@Model.Communication">
                                </div>
                                <div class="col-6">
                                    <h5><b>Profesjonalizm</b></h5>
                                    <input name="Professionalism" data-role="rating" data-star-color="cyan" data-stared-color="cyan" data-static="true" data-value="@Model.Professionalism">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <h5><b>Spełnienie warunków projektu</b></h5>
                                    <input name="MeetingTheConditions" data-role="rating" data-star-color="cyan" data-stared-color="cyan" data-static="true" data-value="@Model.MeetingTheConditions">
                                </div>
                                <div class="col-6">
                                    <h5><b>Chęć do ponownej współpracy</b></h5>
                                    <input name="WantToCoworkAgain" data-role="rating" data-star-color="cyan" data-stared-color="cyan" data-static="true" data-value="@Model.WantToCoworkAgain">
                                </div>
                            </div>
                            @if (Model.UserWhoGetRate.Role.ToString() == "Pracownik")
                            {
                                <div class="row">
                                    <div class="col-6">
                                        <h5><b>Umiejętności</b></h5>
                                        <input name="Skills" data-role="rating" data-star-color="cyan" data-stared-color="cyan" data-static="true" data-value="@Model.Skills">
                                    </div>
                                    <div class="col-6">
                                        <h5><b>Terminowość</b></h5>
                                        <input name="Punctuality" data-role="rating" data-star-color="cyan" data-stared-color="cyan"data-static="true"  data-value="@Model.Punctuality">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <h5><b>Jakość</b></h5>
                                        <input name="Quality" data-role="rating" data-star-color="cyan" data-stared-color="cyan" data-static="true" data-value="@Model.Quality">
                                    </div>
                                </div>
                            }

                            @if (Model.UserWhoGetRate.Role.ToString() == "Manager")
                            {
                                <div class="row">
                                    <div class="col-6">
                                        <h5><b>Umiejętności zarządzania projektem</b></h5>
                                        <input name="ManageSkills" data-role="rating" data-star-color="cyan" data-stared-color="cyan" data-static="true" data-value="@Model.ManageSkills">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addRateModal_@Model.UserWhoGetRate.UserId">
    Zobacz ocenę
</button>