@model ManageOnline.Models.ProjectModel

@{
    ViewBag.Title = "EmployeesFromProject";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<div class="card text-center">

    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a onclick="location.href = '@Url.Action("ProjectPanel", "ProjectPanel", new { projectId=Model.ProjectId}, null)'" class="nav-link">Informacje</a>
            </li>
            <li class="nav-item">
                @if (ViewBag.ProjectManagementMethodology == "Kanban")
                {
                    <a onclick="location.href = '@Url.Action("KanbanBoard", "ProjectPanel", new { projectId=ViewBag.ProjectId}, null)'" class="nav-link ">Kanban board</a>
                }
                else
                {
                    <a onclick="location.href = '@Url.Action("ScrumBoard", "ProjectPanel", new { projectId=ViewBag.ProjectId}, null)'" class="nav-link ">Scrum board</a>
                }
            </li>
            <li class="nav-item">
                <a onclick="location.href = '@Url.Action("EmployeesFromProject", "Employees", new { projectId=Model.ProjectId}, null)'" class="nav-link active">Pracownicy</a>
            </li>
            <li class="nav-item">
                <a onclick="location.href = '@Url.Action("ProjectFiles", "ProjectPanel", new { projectId=Model.ProjectId}, null)'" class="nav-link ">Pliki</a>
            </li>
            @if (Model.ProjectStatus.ToString() == "Finished")
            {
                <button type="button" style="margin-left:10px;" onclick="location.href = '@Url.Action("RateUsersFromProject", "Rate", new { projectId=Model.ProjectId}, null)'" class="btn btn-success float-right" style="margin-left:10px">Wystaw oceny za projekt</button>
            }
        </ul>
    </div>

    <div class="card-body">
        <div class="row">
            @foreach (var employee in Model.UsersBelongsToProjectCollection)
            {
                <div class="col-3">
                    <div class="card" style="height:100%">
                        <div class="card-header">
                            <h4>@employee.Role.ToString()</h4>
                        </div>
                        <img style="width:200px;height:200px; background: #FFFFFF;margin: auto; margin-top:10px" src="data:image;base64,@System.Convert.ToBase64String(employee.UserPhoto)" alt="Brak zdjęcia profilowego" class="img-thumbnail">
                        <div class="card-body">
                            <h4 class="card-title"><b>@employee.Username</b></h4>
                            <p class="card-text"><b>Email: </b><br />@employee.Email</p>
                            <p class="card-text"><b>Telefon kontaktowy: <br /></b>@employee.MobileNumber</p><br />
                            @if (HttpContext.Current.Session["UserId"].ToString() != employee.UserId.ToString())
                            {
                                @Html.Action("SendMessage", "Messages", new { userId = employee.UserId })
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
