<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="metro4:init" content="true">
    <meta name="metro4:locale" content="pl-PL">
    <meta name="metro4:week_start" content="1">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.css">
    <title>@ViewBag.Title - Efficiency Tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/metroui")
    @Scripts.Render("~/bundles/chosen")
    @RenderSection("scripts", required: false)
</head>
<body>
    <style>
        span.input-group-addon i {
            color: #009edf;
            font-size: 17px;
        }

        .form-control {
            height: auto !important;
            padding: 8px 12px !important;
        }

        .input-group {
            -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
            -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21) !important;
        }
    </style>

    @if (String.IsNullOrEmpty((string)HttpContext.Current.Session["Username"]))
    {
        <div class="container body-content">
            <button type="button" class="btn btn-warning" onclick="location.href = '@Url.Action("Login", "Account")'">Zaloguj się !</button>
        </div>
        RenderBody();
    }
    else if (!String.IsNullOrEmpty((string)HttpContext.Current.Session["Username"]) && (string)HttpContext.Current.Session["Role"] != "Admin")
    {
        <div class="navbar navbar-expand-lg navbar-light bg-primary justify-content-end">
            <div class="container justify-content-end">
                <div class="navbar-header">
                </div>
                @Html.Action("NotificationsInfo", "Dashboard")
                <li class="btn-group nav mr-2">
                    <button type="button" class="btn navbar-btn text-bold text-white" style="background-color: forestgreen" onclick="location.href ='@Url.Action("EmployeesList", "Employees")'">Pracownicy</button>
                </li>
                <li class="btn-group nav mr-2" style="float: right;">
                    <button type="button" class="btn navbar-btn text-bold text-white dropdown-toggle" data-toggle="dropdown" style="background-color: forestgreen">Projekty</button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="navbar-brand">@Html.ActionLink("Wyszukaj projekty", "SearchProjects", "Project")</li>
                        @if ((string)HttpContext.Current.Session["Role"] == "Klient")
                        {
                            <li class="navbar-brand">@Html.ActionLink("Dodaj projekt", "AddProject", "Project", new { id = Convert.ToInt32(HttpContext.Current.Session["UserId"]) }, null)</li>
                        }
                        <li class="navbar-brand">@Html.ActionLink("Twoje projekty", "ShowYourProjects", "Project", new { id = Convert.ToInt32(HttpContext.Current.Session["UserId"]) }, null)</li>

                    </ul>
                </li>
                @Html.Action("MessagesInfo", "Messages", new { userId = Convert.ToInt32(HttpContext.Current.Session["UserId"]) })
                <li class="btn-group nav float-right mr-2">
                    <button type="button" class="btn navbar-btn text-bold text-white dropdown-toggle" data-toggle="dropdown" style="background-color: forestgreen">@HttpContext.Current.Session["Username"]</button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="navbar-brand">@Html.ActionLink("Zmień hasło", "ChangePassword", "Account")</li>
                        <li class="navbar-brand">@Html.ActionLink("Edytuj profil", "EditAccount", "Account")</li>
                        <li class="navbar-brand">@Html.ActionLink("Zobacz profil", "ProfileDetails", "Account", new { id = Convert.ToInt32(HttpContext.Current.Session["UserId"]) }, null)</li>
                        <li class="navbar-brand">@Html.ActionLink("Wyloguj się", "LogOut", "Account")</li>
                    </ul>
                </li>
            </div>
        </div>
        <div class="container body-content ">
            @RenderBody()
        </div>
    }
</body>
</html>
