@model ManageOnline.Models.UserBasicModel

@{
    ViewBag.Title = "EditAccountAdmin";
    Layout = "~/Views/Shared/_AdminDashboard.cshtml";
}

<div class="card">
    <div class="card-header bg-dark text-white text-center"><h1><b>Edycja danych administratora</b></h1></div>

    @using (Html.BeginForm("EditAccountAdmin", "Account", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        <div class="card-body">
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UserId)
                <div class="row">
                    <div class="form-group col-3">
                        <input type="image" src="data:image;base64,@System.Convert.ToBase64String(Model.UserPhoto)" alt="Brak zdjęcia profilowego" class="img-thumbnail" style="height:250px; width:250px" onclick="location.href ='@Url.Action("ProfileDetails", "Account")'" />
                    </div>
                    <div class="col-3">
                        <div class="form-group row">
                            @Html.LabelFor(model => model.DisplayedRole, htmlAttributes: new { @class = "control-label float-left" })
                            @Html.EditorFor(model => model.DisplayedRole, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DisplayedRole, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label float-left" })
                            @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label float-left" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.UserPhoto, new { @class = " control-label float-left" })
                        <input type="file" name="file" id="file" accept=".png,.jpg,.jpeg,.gif,.tif" style="width:400px;height:50px;" />
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label float-left" })
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control col", @cols = "100", @rows = "8" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div>
                        <input type="submit" value="Zapisz" class="btn btn-primary" />
                    </div>
                </div>
                <h2>@ViewBag.MessageAfterEditProfileDetails</h2>
            </div>
                    </div>
            }

    </div>
