@model ManageOnline.Models.UserBasicModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card text-white bg-info" style="margin: 5% 25%; width: 50%; height: auto">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <center><h2><b>Panel rejestracji</b></h2></center>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <center>
            <div class="form-group">
                <div class="col-md-12" style="max-width: 70%;">
                    <p class="control-label"><h5><b>Login</b></h5></p>
                    @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12" style="max-width: 70%;">
                    <p class="control-label"><h5><b>Email</b></h5></p>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12" style="max-width: 70%;">
                    <p class="control-label"><h5><b>Hasło</b></h5></p>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12" style="max-width: 70%;">
                    <p class="control-label"><h5><b>Potwierdź hasło</b></h5></p>
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12" style="max-width: 70%;">
                    <p class="control-label"><h5><b>Rejestruję się jako:</b></h5></p>
                    @Html.EnumDropDownListFor(model => model.Role)
                    @Html.ValidationMessageFor(model => model.Role)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Załóż konto" class="btn btn-success" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 center">
                    <input type="button" value="Wróć do panelu logowania" class="btn btn-primary" onclick="location.href='Login'" />
                </div>
            </div>
            
        </center>
        <h1>@ViewBag.Message</h1>
    </div>       

    }
</div>

