@model ManageOnline.Models.CommentModel

@using (Html.BeginForm("AddCommentToTheComment", "Comments", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <center>
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => Model.CommentConnectedWithSelectedComment.CommentId)
            @Html.HiddenFor(model => Model.TaskWhereCommentBelong.TaskId)
            @Html.HiddenFor(model => Model.ProjectWhereCommentBelong.ProjectId)
            <div class="form-group justify-content-center ">
                <div class="col">
                    @Html.TextAreaFor(model => model.CommentDescription, new { htmlAttributes = new { @class = "form-control", @cols = 80, @rows = 20 } })
                    @Html.ValidationMessageFor(model => model.CommentDescription, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col justify-content-center">
                    <input type="submit" value="Dodaj komentarz" class="btn btn-info" />
                </div>
            </div>
        </div>
    </center>
}

