@model IEnumerable<ManageOnline.Models.CommentModel>

<div class="row bootstrap snippets">
    <div class="col col-md-offset-2 ">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Komentarze</h3>
                </div>
                <div class="panel-body">
                    @Html.Action("AddCommentToTheTask", "Comments", new { taskId = ViewBag.TaskId, projectId = ViewBag.ProjectId })
                    <hr>
                    <ul class="media-list">
                        @if (Model != null)
                        {
                            foreach (var comment in Model)
                            {
                                if (comment.CommentConnectedWithSelectedComment == null)
                                {
                                    <li class="media row">
                                        <a href="#" class="col-2">
                                            <img src="data:image;base64,@System.Convert.ToBase64String(comment.UserWhoAddComment.UserPhoto)" alt="Brak zdjęcia" >
                                        </a>
                                        <div class="col-10">
                                            <div class="media-body text-left " style=" margin-bottom:3px;">
                                                <span class="text-muted ">
                                                    <small class="text-muted">@comment.DateWhenCommentWasAdded</small>
                                                </span>
                                                <strong class="text-success">@comment.UserWhoAddComment.Username</strong>
                                                <p style="margin-top:5px;">
                                                    @comment.CommentDescription
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="btn btn-info btn-sm col-2" id="collapse_toggle_@comment.CommentId" style="margin-bottom:5px;">Odpowiedz</div>
                                            <div class="col ">
                                                <div class="fg-white"
                                                     data-role="collapse"
                                                     data-collapsed="true"
                                                     data-toggle-element="#collapse_toggle_@comment.CommentId">
                                                    <div class="text-center" style="margin-top:5px;">
                                                        @Html.Action("AddCommentToTheComment", "Comments", new { commentId = comment.CommentId, projectId = ViewBag.ProjectId })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    foreach (var commentConnectedWithComment in ViewBag.commentsConnectedWithSelectedComment)
                                    {
                                        if (commentConnectedWithComment.CommentConnectedWithSelectedComment.CommentId == comment.CommentId)
                                        {
                                            <li class="media row" style="margin-left:20px;">
                                                <a href="#" class="col-2">
                                                    <img src="data:image;base64,@System.Convert.ToBase64String(commentConnectedWithComment.UserWhoAddComment.UserPhoto)" alt="Brak zdjęcia" >
                                                </a>
                                                <div class="col-9">
                                                    <div class="media-body text-left " style=" margin-bottom:3px;">
                                                        <span class="text-muted ">
                                                            <small class="text-muted">@commentConnectedWithComment.DateWhenCommentWasAdded</small>
                                                        </span>
                                                        <strong class="text-success">@commentConnectedWithComment.UserWhoAddComment.Username</strong>
                                                        <p style="margin-top:5px;">
                                                            @commentConnectedWithComment.CommentDescription
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="btn btn-info btn-sm col-2 " id="collapse_toggle_@commentConnectedWithComment.CommentId" style="margin-bottom:5px;">Odpowiedz</div>
                                                    <div class="col">
                                                        <div class="fg-white"
                                                             data-role="collapse"
                                                             data-collapsed="true"
                                                             data-toggle-element="#collapse_toggle_@commentConnectedWithComment.CommentId">
                                                            <div class="text-center" style="margin-top:5px;">
                                                                @Html.Action("AddCommentToTheComment", "Comments", new { commentId = comment.CommentId, projectId = ViewBag.ProjectId })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

