@model ManageOnline.Models.ProjectModel

@{
    ViewBag.Title = "ProjectPanel";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<script>
    $(function () {
        $("#sortable1, #sortable2").sortable({
            connectWith: ".connectedSortable",
            update: function () {
                var order1 = $('#sortable1').sortable('toArray').toString();
                var order2 = $('#sortable2').sortable('toArray').toString();

                alert("Order 1:" + order1 + "\n Order 2:" + order2); //Just showing update
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdateTaskPosition","Task")',
                    data: {
                        column1: order1,
                        column2: order2
                    },
                    success: function (data) {
                        var toast = Metro.toast.create;
                        toast("Status zadania został zaktualizowany", null, 3000, "bg-green fg-white"); 
                    }
                });

            }
        }).disableSelection();
    });
</script>
<div class="col-6" id="kanbanBoard">
    <div class="row">
        <div class="col-6 kanbanColumn" style="cursor: pointer">
            <h3>Do zrobienia</h3>
            <ul id="sortable1" class="connectedSortable">
                @foreach (var task in Model.Tasks.Where(task => task.ColumnNumber == 1))
                {
                    <div class="card bg-info" id='@task.TaskId'>
                        <div class="card-body text-center">
                            <p class="card-text">@task.TaskName</p>
                        </div>
                    </div>
                }
            </ul>
        </div>

        <div class="col-6 kanbanColumn" style="cursor: pointer">
            <h3>W trakcie</h3>
            <ul id="sortable2" class="connectedSortable">
                @foreach (var task in Model.Tasks.Where(task => task.ColumnNumber == 2))
                {
                    <div class="card bg-success" id='@task.TaskId'>
                        <div class="card-body text-center">
                            <p class="card-text">@task.TaskName</p>
                        </div>
                    </div>
                }
            </ul>
        </div>
    </div>
</div>



<a class="btn btn-primary" href="@Url.Action("ProjectPanel","ProjectPanel",new { projectId=Model.ProjectId}, null)">update</a>

<h2>ProjectPanel</h2>




