@model ManageOnline.Models.ProjectModel

@{
    ViewBag.Title = "ProjectPanel";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<script>
    $(document).ready(function() {
        $("#sortable").sortable({
            update: function(event, ui) {
                var itemIds = "";
                $("#sortable").find(".taskSingleInLine").each(function() {
                    var itemId = $(this).attr("data-taskid");
                    itemIds = itemIds + itemId + ",";
                });
                $.ajax({
                    url: '@Url.Action("UpdateTaskPosition","Task")',
                    data: { itemIds: itemIds },
                    type: 'POST',
                    success: function(data) {

                    },
                    error: function(xhr, status, error) {

                    }

                });
            }
        });
    });
</script>
<div class="col-md-6">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>TESTOWA TABELAAA</th>
        </tr>
        </thead>
        <tbody id="sortable" style="cursor:pointer;">
        @foreach (var tasktest in Model.Tasks)
        {
            if (tasktest.ColumnNumber == 1)
            {
                <tr>
                <td>@tasktest.TaskName</td>
                <td class="taskSingleInLine" id="task@(tasktest.TaskId)" data-taskid="@(tasktest.TaskId)">@tasktest.TaskName</td>
                <td >@tasktest.RowNumber</td>
            </tr>
            }
        }
        </tbody>
    </table>
</div>
<a class="btn btn-primary" href="@Url.Action("ProjectPanel","ProjectPanel",new { projectId=Model.ProjectId}, null)">update</a>

<h2>ProjectPanel</h2>


