@using ManageOnline.Models
@model ManageOnline.Models.ProjectModel

@{
    /**/

    ViewBag.Title = "KanbanBoard";
    if (HttpContext.Current.Session["Role"].ToString() == "Admin")
    {
        Layout = "~/Views/Shared/_AdminDashboard.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Dashboard.cshtml";
    }
}

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a onclick="location.href = '@Url.Action("ProjectPanel", "ProjectPanel", new { projectId=Model.ProjectId}, null)'" class="nav-link">Informacje</a>
            </li>
            <li class="nav-item">
                <a onclick="location.href = '@Url.Action("ScrumBoard", "ProjectPanel", new { projectId=Model.ProjectId}, null)'" class="nav-link active">Scrum board</a>
            </li>
            <li class="nav-item">
                <a onclick="location.href = '@Url.Action("EmployeesFromProject", "Employees", new { projectId=Model.ProjectId}, null)'" class="nav-link ">Pracownicy</a>
            </li>
            <li class="nav-item">
                <a onclick="location.href = '@Url.Action("ProjectFiles", "ProjectPanel", new { projectId=Model.ProjectId}, null)'" class="nav-link ">Pliki</a>
            </li>
            @if (Model.ProjectStatus == ManageOnline.Models.ProjectStatus.Finished)
            {
                <button type="button" style="margin-left:10px;" onclick="location.href = '@Url.Action("RateUsersFromProject", "Rate", new { projectId = Model.ProjectId }, null)'" class="btn btn-success float-right">Wystaw oceny za projekt</button>

            }
        </ul>
    </div>

    @if (Model.ProjectStatus.ToString() == "InProgress" && (string)HttpContext.Current.Session["Role"] == "Manager")
    {
        <div class="card-header">
            <div>
                @using (Html.BeginForm("AddScrumSprint", "ProjectPanel", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                    <center>
                        @Html.Hidden("projectId", Model.ProjectId)
                        @Html.TextBox("scrumSprintLengthInDays", "Podaj długość sprintu w dniach", new { @class = "form-control col-3" })
                        <button type="submit" style="margin-top:10px;" onclick="location.href = '@Url.Action("AddScrumSprint", "ProjectPanel")'" class="btn btn-success">Dodaj Sprint</button>
                    </center>
                }
            </div>
        </div>
    }
    <div class="card-body col-12">
        @if (Model.ScrumSprints.Count != 0)
        {
            foreach (var sprint in Model.ScrumSprints)
            {
                if (!sprint.IsFinished)
                {
                    <div class="btn btn-block bg-light text-dark row text-left" style="margin-top:15px; margin-left:0px;margin-right:0px;" id="collapse_toggle_@sprint.ScrumSprintNumber">
                        <h2 class="col-2">Sprint @sprint.ScrumSprintNumber </h2>
                        <h5 style="margin-top:auto;margin-bottom:auto;" class="col-4">Data rozpoczęcia: @sprint.StartScrumSprintDate Długość: @sprint.ScrumSprintLengthInDays dni</h5>
                        <div class="text-center col-2" style="margin-top:auto;margin-bottom:auto; margin-left:65px;margin-right:5px;">@Html.Action("AddTaskToSprint", "Task", new { projectId = Model.ProjectId, scrumSprintId = sprint.ScrumSprintId })</div>
                        @if ((string)HttpContext.Current.Session["Role"] == "Manager")
                        {
                            <button type="submit" class="col-2 btn btn-success" style="margin-top:auto;margin-bottom:5px;margin-left:5px;margin-right:5px;" onclick="location.href = '@Url.Action("MarkScrumSprintAsFinished", "ProjectPanel", new { projectId = Model.ProjectId, scrumSprintId = sprint.ScrumSprintId })'">Zakończ sprint</button>
                            <button type="submit" class="col-1 btn btn-danger" style="margin-top:auto;margin-bottom:5px;margin-left:5px;margin-right:5px;" onclick="location.href = '@Url.Action("DeleteScrumSprint", "ProjectPanel", new { projectId = Model.ProjectId, scrumSprintId = sprint.ScrumSprintId })'">Usuń sprint</button>
                        }
                    </div>
                }
                else
                {
                    <div class="btn btn-block bg-success text-dark row text-left" style="margin-top:15px; margin-left:0px;margin-right:0px;" id="collapse_toggle_@sprint.ScrumSprintNumber">
                        <h2 class="col-2">Sprint @sprint.ScrumSprintNumber </h2>
                        <h5 style="margin-top:auto;margin-bottom:auto;" class="col-8">Data rozpoczęcia: @sprint.StartScrumSprintDate Data zakończenia: @sprint.FinishScrumSprintDate</h5>
                        @if ((string)HttpContext.Current.Session["Role"] == "Manager")
                        {
                            <button type="submit" class="col-1 btn btn-danger justify-content-end" style="margin-top:auto;margin-left:85px;margin-right:5px;" onclick="location.href = '@Url.Action("DeleteScrumSprint", "ProjectPanel", new { projectId = Model.ProjectId, scrumSprintId = sprint.ScrumSprintId })'">Usuń sprint</button>
                        }
                    </div>
                }

                <div class="pos-relative">
                    <div class="bg-light fg-white"
                         data-role="collapse"
                         data-toggle-element="#collapse_toggle_@sprint.ScrumSprintNumber">
                        <div class="bg-light" style="width:100%;height:20px;"></div>
                        @foreach (var task in Model.Tasks.Where(x => x.ScrumSprintWhereTaskBelong.ScrumSprintNumber == sprint.ScrumSprintNumber))
                        {
                            if (task.TaskStatus == ManageOnline.Models.TaskStatus.NotStarted)
                            {
                                <div class="btn-block btn-warning" style="width:97%; margin-left:auto;margin-right:auto;margin-bottom:10px;">
                                    <div class="row">
                                        <h3 class="text-left col-7 text-white" style="margin-top:3px;margin-left:5px;margin-right:5px;">@task.TaskName </h3>
                                        <img class="uk-border-circle uk-box-shadow-hover-medium col-1" style="height: 40px; width: 20px; margin-left:10px;margin-right:10px;margin-top:2px;margin-bottom:2px;" src="data:image;base64,@System.Convert.ToBase64String(task.CurrentWorkerAtTask.UserPhoto)" />
                                        <h3 style="margin-top:4px;margin-bottom:4px;" class="text-white">@task.CurrentWorkerAtTask.Username</h3>
                                        <div class="btn-group btn-group-sm float-right col-3 " style="margin-top:6px;margin-bottom:6px;" role="group">
                                            @Html.Action("ShowTaskDetails", "Task", new { taskId = task.TaskId })
                                            @Html.Action("EditTask", "Task", new { taskId = task.TaskId })
                                            <div class="btn btn-sm btn-danger float-right custom-row col-2" onclick="location.href = '@Url.Action("DeleteTask", "Task", new { projectId=Model.ProjectId, taskId= task.TaskId}, null)'">Usuń</div>
                                        </div>
                                        <div class="bg-light" style="width:100%;height:10px;"></div>
                                    </div>
                                </div>
                            }
                            else if (task.TaskStatus == ManageOnline.Models.TaskStatus.InProgress)
                            {
                                <div class="btn-block btn-primary" style="width:97%; margin-left:auto;margin-right:auto;margin-bottom:10px;">
                                    <div class="row">
                                        <h3 class="text-left col-7 text-white" style="margin-top:3px;margin-left:5px;margin-right:5px;">@task.TaskName </h3>
                                        <img class="uk-border-circle uk-box-shadow-hover-medium col-1" style="height: 40px; width: 20px; margin-left:10px;margin-right:10px;margin-top:2px;margin-bottom:2px;" src="data:image;base64,@System.Convert.ToBase64String(task.CurrentWorkerAtTask.UserPhoto)" />
                                        <h3 style="margin-top:4px;margin-bottom:4px;" class="text-white">@task.CurrentWorkerAtTask.Username</h3>
                                        <div class="btn-group btn-group-sm float-right col-3 " style="margin-top:6px;margin-bottom:6px;" role="group">
                                            @Html.Action("ShowTaskDetails", "Task", new { taskId = task.TaskId })
                                            @Html.Action("EditTask", "Task", new { taskId = task.TaskId })
                                            <div class="btn btn-sm btn-danger float-right custom-row col-2" onclick="location.href = '@Url.Action("DeleteTask", "Task", new { projectId=Model.ProjectId, taskId= task.TaskId}, null)'">Usuń</div>
                                        </div>
                                        <div class="bg-light" style="width:100%;height:10px;"></div>
                                    </div>
                                </div>
                            }
                            else if (task.TaskStatus == ManageOnline.Models.TaskStatus.Finished)
                            {
                                <div class="btn-block btn-success" style="width:97%; margin-left:auto;margin-right:auto;margin-bottom:10px; ">
                                    <div class="row">
                                        <h3 class="text-left col-7 text-white" style="margin-top:3px;margin-left:5px;margin-right:5px;">@task.TaskName </h3>
                                        <img class="uk-border-circle uk-box-shadow-hover-medium col-1" style="height: 40px; width: 20px; margin-left:10px;margin-right:10px;margin-top:2px;margin-bottom:2px;" src="data:image;base64,@System.Convert.ToBase64String(task.CurrentWorkerAtTask.UserPhoto)" />
                                        <h3 style="margin-top:4px;margin-bottom:4px;" class="text-white">@task.CurrentWorkerAtTask.Username</h3>
                                        <div class="btn-group btn-group-sm float-right col-3 " style="margin-top:6px;margin-bottom:6px;" role="group">
                                            @Html.Action("ShowTaskDetails", "Task", new { taskId = task.TaskId })
                                            @Html.Action("EditTask", "Task", new { taskId = task.TaskId })
                                            <div class="btn btn-sm btn-danger float-right custom-row col-2" onclick="location.href = '@Url.Action("DeleteTask", "Task", new { projectId=Model.ProjectId, taskId= task.TaskId}, null)'">Usuń</div>
                                        </div>
                                        <div class="bg-light" style="width:100%;height:10px;"></div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        }
    </div>
