@model ManageOnline.Models.OfferToProjectModel

@{
    ViewBag.Title = "AddOfferToProject";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ProjectWhereOfferWasAdded.ProjectId)
    @Html.HiddenFor(model => model.ProjectWhereOfferWasAdded.ProjectTitle)
    @Html.HiddenFor(model => model.ProjectWhereOfferWasAdded.ProjectDescription)
    @Html.HiddenFor(model => model.ProjectWhereOfferWasAdded.ProjectCreationDate)
<div class="card">
    <div class="card-header">
        <h4>Dodaj ofertę do projektu</h4>
    </div>
    <div class="card-body">
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row-10 col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control col", @cols = "100", @rows = "8" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row-10 col-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Responsibilities, htmlAttributes: new { @class = "control-label " })
                    @Html.TextAreaFor(model => model.Responsibilities, new { @class = "form-control col", @cols = "100", @rows = "8" })
                    @Html.ValidationMessageFor(model => model.Responsibilities, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row-10 col-12">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label>Koszt (w PLN)</label>
                            @Html.EditorFor(model => model.Budget, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Budget, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group">
                            <label>Czas wykonania (w dniach)</label>
                            @Html.EditorFor(model => model.EstimatedTimeToFinishProject, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EstimatedTimeToFinishProject, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-3"></div>
                    <div class="col-3">
                        <label style="padding-bottom:5px"></label>
                        <input type="submit" value="Dodaj ofertę" class="btn btn-success btn-block form-control" style="margin-top:5px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}



