@model ManageOnline.Models.ProjectModel

@{
    ViewBag.Title = "ProjectDetails";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>ProjectDetails</h2>

<div>
    <h4>ProjectModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <h1>@Html.DisplayFor(model => model.ProjectOwner.Username)</h1>

        <dd>
            @Html.DisplayFor(model => model.ProjectOwner.Username)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ProjectTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectCreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectCreationDate)
        </dd>

    </dl>
</div>
<p>
    @if (Model.OffersToProject.Count == 0)
    {
        <span>Brak ofert</span>
    }
    else
    {
        <div data-role="accordion"
             data-one-frame="false">
            @foreach (var item in Model.OffersToProject.OrderBy(x => x.AddOfferDate))
            {

                <div class="frame" style="margin: 15px 0">
                    <div class="heading bg-dark fg-white" style="height:55px">
                        Oferta użytkownika @item.UserWhoAddOffer.Username @if (item.UserWhoAddOffer.UserId.ToString() == HttpContext.Current.Session["UserId"].ToString())
                        {
                            <button type="button" class="btn btn-success float-right" onclick="location.href = '@Url.Action( "EditOfferToProject", "Project",  new { offerId = item.OfferToProjectId }, null)'">Edytuj swoją ofertę</button>
                        }
                        @if (HttpContext.Current.Session["UserId"].ToString() == Model.ProjectOwner.UserId.ToString())
                        {
                            <button type="button" class="btn btn-success float-right" onclick="location.href = '@Url.Action("AdmitSelectedProject", "Project",  new {projectId = Model.ProjectId, offerId = item.OfferToProjectId}, null)'">Przyznaj projekt</button>
                        }
                    </div>
                    <div class="content bg-info fg-white">
                        <div class="row">
                            <div class="col-3" style="margin: 10px 10px;">
                                <div data-role="tile" style="width: 200px; height: 200px" data-effect="hover-zoom-right">
                                    <div class="slide-front">
                                        <img class="h-100 w-100" src="data:image;base64,@System.Convert.ToBase64String(item.UserWhoAddOffer.UserPhoto)" alt="Brak zdjęcia profilowego" class="img-thumbnail" />
                                    </div>
                                    <div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-green" onclick="location.href = '@Url.Action("ProfileDetails", "Account", new {id = item.UserWhoAddOffer.UserId}, null)'">
        <p class="text-center">
            Kliknij, aby przejść do profilu użytkownika
        </p>
        </div>
        <span class="branding-bar text-white text-bold" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">@item.UserWhoAddOffer.Username</span>
        </div>
        </div>
        <div class="col-5" style="margin: 15px 10px">@item.Description</div>
        <div class="col-3" style="margin: 15px 5px"><h3>Data dodania oferty: @item.AddOfferDate.Date.ToShortDateString()<br />Cena: @item.Budget zł<br />Czas wykonania: @item.EstimatedTimeToFinishProject dni</h3></div>
        </div>
        <hr>
        <div class="col text-white">
            <h3>Pracownicy, zaoferowani do projektu</h3>
        </div>
        <div class="row">
            @foreach (var worker in item.WorkersProposedToProjectCollection)
            {
                <div class="col-3" style="margin: 10px 10px;">
                    <div data-role="tile" style="width: 200px; height: 200px" data-effect="hover-zoom-right">
                        <div class="slide-front">
                            <img class="h-100 w-100" src="data:image;base64,@System.Convert.ToBase64String(worker.UserPhoto)" alt="Brak zdjęcia profilowego" class="img-thumbnail" />
                        </div>
                        <div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-green" onclick="location.href = '@Url.Action("ProfileDetails", "Account", new {id = worker.UserId}, null)'">
                            <p class="text-center">
                                Kliknij, aby przejść do profilu użytkownika
                            </p>
                        </div>
                        <span class="branding-bar text-white text-bold" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">@worker.Username</span>
                    </div>
                </div>
            }
        </div>
        </div>
        </div>
    }

            }
            </div>
        }

    @if ((Model.OffersToProject.Any(item => item.UserWhoAddOffer.UserId.ToString() == HttpContext.Current.Session["UserId"].ToString()) == false) && (HttpContext.Current.Session["Role"].ToString() == "Manager"))
    {
        @Html.ActionLink("Dodaj ofertę", "AddOfferToProject", "Project", new { projectId = Model.ProjectId }, null);
    }


    </p>
