@model ManageOnline.Models.ProjectModel

@{
    ViewBag.Title = "ProjectDetails";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>ProjectDetails</h2>

<div>
    <h4>ProjectModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <h1>@Html.DisplayFor(model => model.ProjectOwner.Username)</h1>

        <dd>
            @Html.DisplayFor(model => model.ProjectOwner.Username)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.ProjectTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectCreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectCreationDate)
        </dd>

    </dl>
</div>
<p>
    @if (Model.OffersToProject.Count == 0)
    {
        <span>Brak ofert</span>
    }
    else
    {
        foreach (var item in Model.OffersToProject)
        {
            if (item.UserWhoAddOffer.UserId.ToString() == HttpContext.Current.Session["UserId"].ToString())
            {
                <p>@item.OfferToProjectId</p>
                <p>@Html.ActionLink("Edytuj swoją ofertę", "EditOfferToProject", "Project", new {offerId = item.OfferToProjectId}, null);</p>
            }
            else
            {
                <p>@item.OfferToProjectId</p>
            }
        }
    }

    @if ((Model.OffersToProject.Any(item => item.UserWhoAddOffer.UserId.ToString() == HttpContext.Current.Session["UserId"].ToString()) == false) && (HttpContext.Current.Session["Role"].ToString() == "Manager"))
    {
        @Html.ActionLink("Dodaj ofertę", "AddOfferToProject", "Project", new { projectId = Model.ProjectId }, null);
    }


    </p>
